<div>
  <h2>Record Edit</h2>
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="text" 
             class="form-control" 
             placeholder="Record Name" ng-model="record.name" />
    </div>
    <div class="form-group">
      <input type="text" 
             class="form-control" 
             placeholder="Artist" 
             ng-model="record.artist" />
    </div>
    <div class="form-group">
      <input type="date" 
             class="form-control" 
             placeholder="Release Date" 
             ng-model="record.released_at" />
    </div>
    <a class="btn btn-default" href="/">Cancel</a>
    <button class="btn btn-warning" ng-click="updateRecord()">Update</button>
    <button class="btn btn-danger" ng-click="removeRecord()">Remove</button>
  </form>
</div>
